.entreprise {
    position: relative;
    left: 130px;
    top: 15px;
}

label{
    display: block;
}

input[type="text"]{
    display: block;
    width: 100%;
}

form{
    width: 50%;
    margin: auto;
}

input[type="text"]{
    display: block;
    width: 100%;
    justify-content: center;
}

input[type="submit"]{
	background: linear-gradient(#22427C, #77B5FE);
    color: white;
    font-size: 1em;
    width: 150px;
    font-weight: bolder;
    padding: 10px;
    display: block;
    margin: auto;
}